# SPDX-License-Identifier: GPL-2.0-or-later or BSD-3-Clause-Clear
#
# The QCS6490/QCM6490 is a 6nm processor designed for enterprise and Internet of Things (IOT) applications,
# featuring global 5G and Wi-Fi 6E support
#
# Product Page:
# https://www.qualcomm.com/products/internet-of-things/industrial/building-enterprise/qcs6490
# https://www.qualcomm.com/products/internet-of-things/industrial/building-enterprise/qcm6490
#
# Notes:
# QCS6490/QCM6490 devices support both JTAG and SWD protocols.
# Debug has been tested with the following debug adapters/dongles
#    1. Embedded USB Debug (EUD) (supports only SWD)
#    2. Olimex FTDI ARM-USB-OCD-H (supports only JTAG) - If JTAG port is enabled on hardware
#    3. Segger J-Link Plus (supports both JTAG and SWD)  - If JTAG port is enabled on hardware
#
# Example command lines
#    1. EUD
#       openocd -f tcl/interface/eud.cfg -f tcl/target/qualcomm/qcs6490.cfg 
#
#    2. Olimex(ARM-USB-OCD-H)
#       openocd -f tcl/interface/ftdi/olimex-arm-usb-ocd-h.cfg -f tcl/target/qualcomm/qcs6490.cfg
#
#    3. Segger J-Link Plus
#       openocd -f tcl/interface/jlink.cfg -f tcl/target/qualcomm/qcs6490.cfg

if { [info exists CHIPNAME] } {
	set _CHIPNAME $CHIPNAME
} else {
	set _CHIPNAME QCOM
}
if { [info exists ENDIAN] } {
	set _ENDIAN $ENDIAN
} else {
	set _ENDIAN little
}
if { [info exists NUM_CORES ] } {
	set _NUM_CORES $NUM_CORES
} else {
	set _NUM_CORES 1
}

set _DAPNAME $_CHIPNAME.dap

# Change _PROTOCOL based on debug adapter in use 
set _PROTOCOL swd
# set _PROTOCOL jtag
transport select $_PROTOCOL

#15000 for JTAG
adapter speed 500

reset_config trst_and_srst

# Create DAP/TAP based on Protocol selection
if {$_PROTOCOL == "swd"} {
	swd newdap $_CHIPNAME cpu -irlen 15 -expected-id 0x5ba02477
} elseif {$_PROTOCOL == "jtag"} {
	jtag newtap $_CHIPNAME cpu -irlen 4 -ircapture 1 -expected-id 0x5ba00477
}

set DBGBASE {0x87010000 0x87110000 0x87210000 0x87310000 0x87410000 0x87510000 0x87610000 0x87710000}
set CTIBASE {0x87020000 0x87120000 0x87220000 0x87320000 0x87420000 0x87520000 0x87620000 0x87720000}

set _targets ""
set smp_targets ""

proc setup_cores {dbgbase ctibase num} {
	global _CHIPNAME
	global _DAPNAME
	global _ENDIAN
	global smp_targets
	global _targets
	for { set _core 0 } { $_core < $num } { incr _core } {
		set _TARGETNAME $_CHIPNAME.cpu$_core
		set _CTINAME $_TARGETNAME.cti
		cti create $_CTINAME -dap $_DAPNAME -ap-num 1 -baseaddr [lindex $ctibase $_core]
		set _command "target create $_TARGETNAME aarch64 -endian $_ENDIAN -dap $_DAPNAME -coreid $_core -dbgbase [lindex $dbgbase $_core] -cti $_CTINAME -event reset-assert-post { dap init }"
		if { $_core == 0 } {
			set _targets "$_TARGETNAME"
		}
		set smp_targets "$smp_targets $_TARGETNAME"
		eval $_command
		eval "$_TARGETNAME configure -event examine-end { eval $_TARGETNAME arp_halt }"
	}
}

dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu -ignore-syspwrupack

setup_cores $DBGBASE $CTIBASE $_NUM_CORES

if { $_NUM_CORES > 1 } {
	eval "target smp $smp_targets"
	targets $_targets
}

# Default breakpoints to hardware breakpoints
gdb breakpoint_override hard
